.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.chick{border: 5px
color:black;}
.mee{border: 5px
color:black;}
.sush{border: 5px
color:black;}


